.menu-calculator-image{ 
    display:table-cell; 
    width: 20%;
    padding:2%;
    margin:auto;
    text-align: left;
    vertical-align: middle;
}
.menu-calculator-text{
    padding-left:2%;
}
.delete-group-field{
    width:80%;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-image:url(../img/delete.png) !important;
    filter:none;
    min-height:40px;
}
input[type=radio] {
    display:inline;
    margin-left:5px;
}
label {
    background-image:none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin: 2px;
} 
input[type=radio] + label {
    padding-left:2px;
    height:25px; 
    display:inline-block;
    line-height:25px;
    background-repeat: none;
    background-position: none;
    font-size:25px;
    vertical-align:middle;
    cursor:pointer;
}
.button-form,.home-button{
    line-height: 70px;
}
.calculator-group-fields-input{
    padding-left: 1%;
    padding-right: 1%;
}
.ieresize{
    width: 42% !important;
}
.select{
    padding-right: 0px;
}