html{
    height: 100%;
    overflow-x:hidden;   
    height: 100%;
    overflow-x:hidden;   
    background-color: #71b32a;
}
.htmlloading{
    background:#71b32a;
}
.htmlloaded{
    /* background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #F6FF00),
        color-stop(1, #71B32A)
        ); */
    background-color: #7DAE33;
}
body {
    font-family: Helvetica, Verdana, Arial, sans-serif;
    color: black;
    text-align: center;
}
a:link, a:visited {
    color: #000;
}
a:active, a:hover {
    color: #666;
}
p.header {
    font-size: small;
}
p.header span {
    font-weight: bold;
}
p.footer {
    font-size: x-small;
}
div.content {
    margin: auto;
    width: 770px;
    margin-left:210px;
}
div.broken,
div.missing {
    margin: auto;
    position: relative;
    top: 50%;
    width: 193px;
}
div.broken a,
div.missing a {
    height: 63px;
    position: relative;
    top: -31px;
}
div.broken img,
div.missing img {
    border-width: 0px;
}
div.broken {
    display: none;
}
div#unityPlayer {
    cursor: default;
    height: 600px;
    width: 935px;
    margin:auto;
    
}
#selector{
    width: 200px;
    position: absolute;
    z-index: 999;
    top: 80px;
    background-color: #00794d;
    color: white;
    /* padding: 5px; */
    border: 2px solid #084D34;
}
.selector_title_group{
    display: table;
    height: 30px;
    vertical-align: middle;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 5px;
    padding-left: 5px;
    border-bottom: 2px solid #084D34;
    cursor: pointer;
    border-top: 2px solid #084D34;
}
.selector_title{   
    display: table-cell;
    width: 90%;
    vertical-align: middle;
}

.selector_arrow{
    width: 20px;
    vertical-align: middle;
    /* display: table; */
    margin-top: 5px;
}
.arrow_image{
    width: 20px;
    display: table-cell;
    vertical-align: middle;
}
.selector_tumor_button{
    height: 30px;
    vertical-align: middle;
    /* display: table-cell; */
    padding-top: 10px;
    cursor: pointer;
}
.selector_tumor_button:hover{
    background-color: #00a037;
}
#coronal_image_images{
     background-color: white;
}
